rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /jobs/{job} {
      allow read: if resource.data.user == request.auth.uid
      allow write: if request.resource.data.user == request.auth.uid
    }
    match /users/{user} {
      allow read: if resource.data.id == request.auth.uid
			allow write: if request.resource.data.id == request.auth.uid
    }
  }
}