<div class="d-flex justify-content-end p-2">
  <button mat-fab color="primary" (click)="addData()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="table-container">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="w-100"
  >
    <!-- Position Column -->
    <ng-container matColumnDef="invoiceNo" sticky>
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        Invoice No
      </th>
      <td mat-cell *matCellDef="let element">{{ element.invoiceNo }}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="jobName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Name</th>
      <td mat-cell *matCellDef="let element">{{ element.jobName }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer</th>
      <td mat-cell *matCellDef="let element">{{ element.customer }}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="startDate">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [ngStyle]="{ width: '150px' }"
      >
        Date
      </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{ width: '150px' }">
        <ng-container *ngIf="element.startDate">
          {{ element.startDate.toDate() | date }}
        </ng-container>
        -
        <ng-container *ngIf="element.endDate">
          {{ element.endDate.toDate() | date }}
        </ng-container>
      </td>
    </ng-container>

    <!-- Place Column -->
    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Place</th>
      <td mat-cell *matCellDef="let element">
        {{ element.city }}/{{ element.country }}
      </td>
    </ng-container>

    <!-- Secretary Column -->
    <ng-container matColumnDef="secretary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Secretary</th>
      <td mat-cell *matCellDef="let element">{{ element.secretary }}</td>
    </ng-container>

    <!-- Interpreters Column -->
    <ng-container matColumnDef="interpreters">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Interpreters</th>
      <td mat-cell *matCellDef="let element">{{ element.interpreters }}</td>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
      <td mat-cell *matCellDef="let element">{{ element.total | number }}</td>
    </ng-container>

    <!-- Remaining Column -->
    <ng-container matColumnDef="remaining">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Remaining</th>
      <td mat-cell *matCellDef="let element">
        {{ element.remaining | number }}
      </td>
    </ng-container>

    <ng-container matColumnDef="options" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>more_vert</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
